<div class="my-4 text-end">
    <button type="button" class="btn btn-success fw-bold" (click)="volverLista()">Ver
        Listado</button>
</div>

<!-- Buscador -->
<section class="mt-4 formularioProducto">
    <form #productoForm="ngForm">
        <div class="text-center bg-primary rounded text-white mt-4 mb-2 p-0 py-3">
            <h5 class="m-0">AGREGAR PRODUCTO</h5>
        </div>

        <fieldset class="form-group border rounded p-3">
            <legend class="w-auto fw-bold">Formulario</legend>

            <p>Campos obligatorios (<span class="text-danger fw-bold">*</span>)</p>
            <hr />

            <!-- Nombre -->
            <div class="mb-4">
                <label for="idNombreProducto" class="form-label">Nombre Producto (<span
                        class="text-danger fw-bold">*</span>)</label>

                <input type="text" class="form-control bg-light" id="idNombreProducto" name="nombreProducto"
                    placeholder="Ingrese nombre del prdocuto" [(ngModel)]="producto.nombre" required
                    #nombreProducto="ngModel" />

                <!-- Validar Nombre -->
                <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)"
                    class="alert alert-danger">
                    <div *ngIf="nombreProducto.errors?.['required']">
                        El nombre del producto es requerido.
                    </div>
                </div>
            </div>

            <!-- Imagen -->
           
            

            <!-- Descripcion -->
            <div class="mb-4">
                <label for="idDescripcion" class="form-label">Descripcion (<span
                        class="text-danger fw-bold">*</span>)</label>

                <input type="text" class="form-control bg-light" id="idDescripcion" name="descripcion"
                    placeholder="Ingrese descripcion del producto" [(ngModel)]="producto.descripcion" required
                    #descripcionProducto="ngModel" />

                <!-- Validar Descripcion -->
                <div *ngIf="descripcionProducto.invalid && (descripcionProducto.dirty || descripcionProducto.touched)"
                    class="alert alert-danger">
                    <div *ngIf="descripcionProducto.errors?.['required']">
                        La descripcion del producto es requerida.
                    </div>
                </div>
            </div>

            <!-- Precio -->
            <div class="mb-4">
                <label for="idPrecioProducto" class="form-label">Precio (ARS) (<span
                        class="text-danger fw-bold">*</span>)</label>

                <input type="number" class="form-control bg-light" id="idPrecioProducto" name="precioProducto"
                    placeholder="Ingrese el precio del producto" [(ngModel)]="producto.precio" required
                    #precioProducto="ngModel" />

                <!-- Validar Precio -->
                <div *ngIf="precioProducto.invalid && (precioProducto.dirty || precioProducto.touched)"
                    class="alert alert-danger">
                    <div *ngIf="precioProducto.errors?.['required']">
                        El precio del producto es requerido.
                    </div>
                </div>
            </div>

            <!-- Stock -->
            <div class="mb-4">
                <label for="idStockProducto" class="form-label">Stock (<span
                        class="text-danger fw-bold">*</span>)</label>

                <input type="number" class="form-control bg-light" id="idStockProducto" name="stockProducto"
                    placeholder="Ingresar stock disponible" [(ngModel)]="producto.stock" required
                    #stockProducto="ngModel" />

                <!-- Validar Stock -->
                <div *ngIf="stockProducto.invalid && (stockProducto.dirty || stockProducto.touched)"
                    class="alert alert-danger">
                    <div *ngIf="stockProducto.errors?.['required']">
                        El stock del producto es requerido.
                    </div>
                </div>
            </div>

            <!-- Check Destacado -->
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" [(ngModel)]="producto.destacado"
                    id="idProductoDestacado" name="productoDestacado">

                <label class="form-check-label" for="idProductoDestacado">Destacado</label>
            </div>

            <div class="text-center my-4">
                <button type="submit" class="btn btn-primary fw-bold" (click)="agregarProducto()"
                    [disabled]="productoForm.invalid">Agregar</button>
            </div>
        </fieldset>
    </form>
</section>